In [5]:
#import the sql-connector
import mysql.connector

In [6]:
#create a connection
con=mysql.connector.connect(host='localhost',user='root',password='Rohit@123',database="DEMO")

In [7]:
#create a cursur
cursor=con.cursor()

In [6]:
#create a database table
cursor.execute("CREATE DATABASE DEMO")

In [9]:
#create a table
cursor.execute("CREATE TABLE EMPLOYEE(ID INT PRIMARY KEY,NAME VARCHAR(20),EMAIL VARCHAR(20),CREATED_AT DATE)")

In [10]:
#INSERT
INSERT="INSERT INTO EMPLOYEE (ID,NAME,EMAIL,CREATED_AT) VALUES (%s,%s,%s,%s)"
VALUES=[
        ("1","rohit","rohith@gmil.com","2000-01-01"),
        ("2","rahul","rahul@gmil.com","2001-07-03"),
        ("3","shiva","shiva@gmil.com","2002-03-14"),
        ("4","rama","rama@gmil.com","2004-01-17")
]
cursor.executemany(INSERT,VALUES)
print(cursor.rowcount , "insert sucessfull into table")
con.commit()

4 insert sucessfull into table

In [13]:
#update
UPDTAE="UPDATE EMPLOYEE SET EMAIL=%s WHERE EMAIL=%S"
VALUE=("rohithrock@gmail.com","rohith@gmil.com")
cursor.execute(UPDATE,VALUE)
print(cursor.rowcount,"update suceesfull")

1 update suceesfull

In [15]:
#RETRIVE
cursor.execute("SELECT * FROM EMPLOYEE WHERE ID =1")
R=cursor.fetchall()
for row in R:
    print(row)

(1, 'rohit', 'rohithrock@gmail.com', datetime.date(2000, 1, 1))

In [17]:
#delete
DELETE = "DELETE FROM EMPLOYEE WHERE id = %s"
VAL = ("1",)
cursor.execute(DELETE, VAL)
con.commit()
print(cursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [18]:
cursor.close()#closed cursor
con.close()#closed connection

In [1]:
"""CONSIDERATIONS
Strengths:
1.Data Integrity: Relational databases excel at maintaining data integrity through features like primary keys, foreign keys,
and constraints. This ensures data accuracy and consistency.
2.Normalization: Normalization helps to reduce data redundancy and improve data efficiency. 
Weakness:
1.Limited Flexibility: Relational databases may not be the best fit for certain types of data,
such as unstructured or semi-structured data.    
2.Cost: Commercial relational database management systems (RDBMS) can be expensive, especially for large-scale deployments.

1. Partitioning
Horizontal Partitioning:
Divides a large table into smaller tables based on a specific column or range of values.
2. Sharding
Data Sharding:
Distributes data across multiple database servers (shards).
Each shard stores a subset of the overall data."""

'CONSIDERATIONS\nStrengths:\n1.Data Integrity: Relational databases excel at maintaining data integrity through features like primary keys, foreign keys,\nand constraints. This ensures data accuracy and consistency.\n2.Normalization: Normalization helps to reduce data redundancy and improve data efficiency. \nWeakness:\n1.Limited Flexibility: Relational databases may not be the best fit for certain types of data,\nsuch as unstructured or semi-structured data.    \n2.Cost: Commercial relational database management systems (RDBMS) can be expensive, especially for large-scale deployments.\n\n1. Partitioning\nHorizontal Partitioning:\nDivides a large table into smaller tables based on a specific column or range of values.\n2. Sharding\nData Sharding:\nDistributes data across multiple database servers (shards).\nEach shard stores a subset of the overall data.'